
header.header{
	.connected-dropdown {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

    img.meta-fox {
    	width: 25px;
    }

    img.etherscan-img {
	    width: 25px;
		}
	}
}

